* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: black;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main {
    width: 1170px;
    height: 1260px;
    background: #f1f0ef;
    margin: auto;
}

.top-contact {
    width: 1170px;
    height: 40px;
    background: rgb(52, 49, 48);
}

.left-cont{
    width: 274px;
    height:33px;
    float: left;
}

.right-cont{
    width: 274px;
    height:33px;
    float: right;
}

.top-left-iip a{
width: 216px;
height: 24px;
color: white;
font-size: 20px ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
float: right;
margin-top: 7px;
}




.top-right-iip a{
width: 216px;
height: 24px;
float: right;
color: white;
font-size: 20px ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 7px;
margin-right: 10px;
}

.menu-container {
    width: 1170px;
    height: 140px;
    background:rgb(255, 255, 255);
}

.menu-bar {
    width: 900px;
    height:140px ;
    float: right;
}

.menu-items {
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 63px;
    float: left;
}


.menu-items:hover{

    color: #00a8ec;
    text-decoration: underline;
}

.middle-container {
    width: 1130px;
    height: 735px;
    background: rgb(255, 255, 255);
    border: 20px #f1f0ef solid;
    border-bottom: none;
}

.middle-left {
    width: 260px;
    height: 750px;
    float: left;
}

.menu-item-left {
    width:250px;
    height: 40px ;
    background:#00a8ec ;
    margin: 2px 0 0 10px;
    border: 3px white solid;
    text-align: center;
    padding-top: 10px ;
}

.menu-item-left a{
    color: white;
    font-weight: bold;
    font-size: 20px; 
}


.middle-buttom {
    width: 250px ;
    height: 360px;
    margin-left: 12px;
    margin-top: 10px;
    float: left;
}

.middle-buttom-news {
    width: 100%;
    height: 45px;
    background: #ef9c00;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px 15px 0 0 ; 
}

.middle-buttom li {
    margin-left: 12px;
    width: 100%;
    height: 40px;
    color: #343130;
    list-style: none;
    padding-top: 5px;
}

.middle-buttom li img{
    margin-right:  2px;
    border-radius: 50px;
}

.middle-buttom ul {
    border: 1px solid black;
    border-top: none;
}

.course-container {
    width: 841px;
    height: 270px ;
    float: right;
    border-top: 15px solid #f1f0ef;
}

.course-text {
    width: 170px; ;
    height: 50px ;
    color:#00a8ec;
    margin-top: -5px;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    background: #f1f0ef;
}

.course-box-left {
    width: 50%;
    height: 235px;
    float: left;
}

.icon {
    margin: 30px  0  30px 0;

}

.icon h3{
    margin-top: 8px;
    font-weight: normal;
    display: block; 
}

.icon img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.course-box-right {
    width: 50%;
    height: 235px;
    float: right;
}

.how-we-work {
    color: #00a8ec;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 30px;
    word-spacing: 5px;
}

.work-container {
    width: 100%;
    height: 220px;
    margin: 0 30px 20px 30px ;
}

.how-img-box {
    width:270px;
    height: 220px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    float: left;
    text-shadow: 0px 0px 5px black;
}


.how-img1 {

    background: url(../images/how/HOW-WE-WORK1.png) no-repeat center bottom;
    width: 270px;
    height: 220px;
    align-items: center;
}

    .how-img2 {

    background: url(../images/how/HOW-WE-WORK2.png) no-repeat center bottom;
    width: 270px;
    height: 220px;
    align-items: center; 
}


    .how-img3 {

    background: url(../images/how/HOW-WE-WORK3.png) no-repeat center bottom;
    width: 270px;
    height: 220px;
    align-items: center; 
}


    .how-img4 {

    background: url(../images/how/HOW-WE-WORK4.png) no-repeat center bottom;
    width: 270px;
    height: 220px;
    align-items: center; 
}




.how-img-color {

    width: 100%;
    height: 150px;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}


.footer {

    width:1170px;
    height:310px;
    background: #343130;
    margin: auto;
    
}

.quick-links-container {


    width: 225px;
    height: 100%;
    padding-left: 70px;
    color: white;
    padding-top: 20px;
    float:left;
}


.quick-links-container ul li{

    list-style: none;
    margin: 20px 0 0 10px;

}


.quick-links-container h2{

    letter-spacing: 1px;

}

.footer h2{

    letter-spacing: 1px;
    color: white;

}

.footer-train-container {

    width: 520px;
    height:100%;
    float: left;
    color: white;
    padding-top: 20px;
    padding-left: 70px;
    
}




.train-cont {
    float: left;
    margin-right: 25px;


}

.train-cont li{
    padding-top: 20px;
    list-style: none;
    margin-left: 10px;


}

.footer-contact-container {

    width: 280px;
    height: 100%;
    float:left ;
    padding-top: 20px;


}


.cont-details li{

    width:200px;
    letter-spacing: 1px;
    color: white;
    list-style: none ;
    margin-top: 20px;

}

.social-links li{

    margin: 15px 0 0 15px;
    list-style: none;
    float: left;
    
}

.copy-right {

    width: 1170px;
    height: 35px;
    background: #302d2c;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: auto;

}

.middle-right {

    width: 850px;
    min-height: 730px;
    float: left;
    margin-left: 15px;


}

.page-status {

    width: 96%;
    height: 30px;
    margin-bottom: 15px;
    padding: 15px;
    float: left;

}

.page-status h1{

    width:300px ;
    height: 30px;
    float: left;
    color: #343130;;

}

.page-status h2{

    height: 30px;
    float: right;
    color: #343130;

}


.page-status a{
    color: #00a8ec;
}

.about-content p{

    margin-top: 22px;
    font-size: 20px;
    word-spacing: 2px;

}

.course-content {

    width: 850px;
    height: 760px;
    padding: 10px 30px 0 30px;
    float: left;


}


.row {
    width:800px;
    height:250px;
    padding-top: 20px;
}

.course-1 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 30px;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;

}


.course-1-icon {

    width: 210px;
    height: 140px;
    background: #e6611c;
    padding-top: 20px;
}

.icon-1 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}


.c-1{

    height: 50px;
    width: 208px;
    border:1px solid #e6611c ;
    border-radius:0 0 5px 5px ;
    padding: 5px 0 5px 0;
    font-size: 22px;
    color: #e6611c ;
    text-align: center;

}
.course-2{

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    border-radius: 10px;
    overflow: hidden;

}


.course-2-icon {

    width: 210px;
    height: 140px;
    background: #7bb1e0;
    padding-top: 20px;

}

.icon-2 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-2{

    height: 50px;
    width: 208px;
    border:1px solid #7bb1e0 ;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color: #7bb1e0 ;
    text-align: center;

}

.course-3 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.course-3-icon {

    width: 210px;
    height: 140px;
    background: #5e5da4;
    padding-top: 20px;
    

}

.icon-3 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-3{

    height: 50px;
    width: 208px;
    border:1px solid #5e5da4 ;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#5e5da4;
    text-align: center;

}


.course-4 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 10px;

}


.course-4-icon {

    width: 210px;
    height: 140px;
    background: #308a7c;
    padding-top: 20px;
    

}

.icon-4 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-4{

    height: 50px;
    width: 208px;
    border:1px solid #308a7c ;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#308a7c;
    text-align: center;

}


.course-5 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.course-5-icon {

    width: 210px;
    height: 140px;
    background: #89c222;;
    padding-top: 20px;
    

}

.icon-5 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-5{

    height: 50px;
    width: 208px;
    color:#89c222;
    border:1px solid #89c222; ;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#89c222;
    text-align: center;

}


.course-6 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.course-6-icon {

    width: 210px;
    height: 140px;
    background: #d60726;
    padding-top: 20px;
    

}

.icon-6 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-6{

    height: 50px;
    width: 208px;
    color:#d60726;
    border:1px solid #d60726;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#d60726;
    text-align: center;

}


.course-7 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 10px;

}


.course-7-icon {

    width: 210px;
    height: 140px;
    background: #5e5da4;
    padding-top: 20px;
    

}

.icon-7 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-7{

    height: 50px;
    width: 208px;
    color:#5e5da4;
    border:1px solid #5e5da4;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#5e5da4;
    text-align: center;

}



.course-8 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.course-8-icon {

    width: 210px;
    height: 140px;
    background: #e6611c;
    padding-top: 20px;
    

}

.icon-8 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-8{

    height: 50px;
    width: 208px;
    color:#e6611c;
    border:1px solid #e6611c;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:#e6611c;
    text-align: center;

}


.course-9 {

    width:210px ;
    height:230px ;
    float: left;
    margin-left: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.course-9-icon {

    width: 210px;
    height: 140px;
    background: darkgreen;
    padding-top: 20px;
    

}

.icon-9 {

    width: 87px;
    height: 80px;
    border:10px solid white ;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;

}

.c-9 {

    height: 50px;
    width: 208px;
    color:darkgreen;
    border:1px solid darkgreen;
    border-radius:0 0 5px 5px ;
    padding: 10px 0 0 0;
    font-size: 22px;
    color:darkgreen;
    text-align: center;

}



.gallery-img {

    width:200px ;
    height: 170px;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 35px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.gallery-img img{

    width: inherit;
    height: inherit;

}

.contact-row {

    width: 750px;
    height: 250px;
    margin: auto;
    padding: 0 25px 80px 25px;

}


.contact-row a{

    color: #00a8ec;
}

.contact-row-left {

    float: left;
    text-align: center;
    color: #343130;

}

.contact-row-left p {

    margin-top: 10px;
    font-size: 17px;


}


.contact-row-right {

    width:270px ;
    height:250px;
    float: right;
    font-size: 17px;
    text-align: center;
}

.contact-row-right p {

   margin-top: 10px;
   
}


.contact-row-right img {

    width: 70px;
    height: 85px;
}

.contact-map {

    width: 800px;
    margin-top: 20px;
    padding-left: 20px;


}

.contact-map img{

    width: 800px;
    margin-top: 20px;
    

}


.formrow{

    width: 500px;
    margin: 30px 0 20px 20px;

}


.formlable {

    width: 100px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-weight: bold;
}


.forminput {


    font-size: 13px;
    color: #5b5b5b;
}

.inputbox {

    width: 200px;
    height:30px;
    color: #5b5b5b;
    padding-left: 5px;

}


textarea {

    width:200px;
    height:100px;
    color: #5b5b5b;
    padding-left: 5px;
}



.box-button {

    width: 200px;
    height: 50px;
    background : #09F ;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px auto;


}